<section class="order-history">
    <h1>Your Order History</h1>
    <div class="order-container">
        <div class="order-card" *ngFor="let order of orders">
            <div class="imgbox">
                <img [src]="order.image" alt="Restaurant Image" class="restaurant-image">
                <div class="status-badge" [ngClass]="getStatusClass(order.status)">
                    {{ order.status }}
                </div>
            </div>
            <div class="order-details">
                <h2 class="order-title">{{ order.title }}</h2>
                <h3 style="font-weight: bold;">{{ order.restaurantName }}</h3>
                <!-- <p class="order-description">{{ order.description }}</p> -->

                <div style="display: flex; justify-content: space-between;">
                    <p class="details">Persons: {{ order.numberOfPersons }}</p>
                    <p class="details">Seat No: {{ order.seatNumber }}</p>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <p class="details">Date: {{ order.date }}</p>
                    <p class="details">Time: {{ order.timing }}</p>
                </div>

            </div>
        </div>
    </div>
</section>