<section class="restaurant-view">
    <div class="container">
        <div class="restaurant-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXsfyJNBLjamFbkjPvgz84tS1kXjrW4UtB1w&s"
                alt="Restaurant Image">
        </div>
        <div class="restaurant-details">
            <h1>{{ restaurant.name }}</h1>
            <p class="description">{{ restaurant.description }}</p>
            <div class="details">
                <div class="detail-item" *ngFor="let detail of restaurant.details">
                    <h3>{{ detail.label }}</h3>
                    <p>{{ detail.value }}</p>
                </div>
            </div>
            <button class="btn-book-seat" routerLink="/seat">Book Seat</button>
        </div>
    </div>
</section>