<header class="site-header">
    <div class="container">
        <div class="logo">
            <img src="https://5.imimg.com/data5/WL/PX/MY-33515520/petpooja-pos-500x500.png" alt="logo">
        </div>
        <div class="hamburger" (click)="toggleSidebar()" [class.open]="isSidebarOpen">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="main-nav" [class.active]="isSidebarOpen">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/restaurant/list">Restaurants</a></li>
                <li><a routerLink="/order/history">Orders</a></li>
            </ul>
        </nav>
    </div>
</header>