<div class="banner" [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}">
    <div class="overlay"></div>
    <div class="banner-content">
        <h1>{{ title }}</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search for restaurants..." [(ngModel)]="searchQuery">
            <button class="search-btn" (click)="search()">Search</button>
        </div>
    </div>
</div>

<section class="restaurant-cards">
    <h2>Top Restaurants</h2>
    <div class="card-container">
        <div class="card" *ngFor="let restaurant of restaurants">
            <img [src]="restaurant.image" [alt]="restaurant.name">
            <div class="card-content">
                <h3>{{ restaurant.name }}</h3>
                <p class="rating"><i class="fas fa-star"></i> {{ restaurant.rating }}</p>
                <div class="info-container">
                    <div class="info">
                        <p class="feedback">{{ restaurant.feedback }}</p>
                    </div>
                    <button routerLink="/restaurant/detail">See More</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonials">
    <h2>What Our Customers Say</h2>
    <div class="testimonial-container">
        <div class="testimonial" *ngFor="let testimonial of testimonials">
            <p>"{{ testimonial.text }}"</p>
            <p class="customer-name">- {{ testimonial.name }}</p>
            <button routerLink="/restaurant/detail">Explore More</button>
        </div>
    </div>
</section>