<div class="container">
    <div class="filters">
        <select>
            <option value="default">Sort by</option>
            <option value="name">Name</option>
            <option value="rating">Rating</option>
        </select>
        <select>
            <option value="all">All</option>
            <option value="veg">Veg</option>
            <option value="non-veg">Non-Veg</option>
        </select>
        <input type="text" placeholder="Search...">
    </div>

    <div class="restaurant-list">
        <div class="restaurant-card" *ngFor="let restaurant of restaurants">
            <img [src]="restaurant.image" [alt]="restaurant.name">
            <div>
                <h2>{{ restaurant.name }}</h2>
                <p>{{ restaurant.description }}</p>
                <button [routerLink]="['/restaurant/detail', restaurant.id]">Explore More</button>
            </div>
        </div>
    </div>

    <!-- <div class="pagination">
        <button>Previous</button>
        <button>1</button>
        <button>2</button>
        <button>Next</button>
    </div> -->
</div>